<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/payment.css">
    <title>Examaker</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
</head>

<body>
    <div class="navbar">
        <a href="/"><img src="/assets/logo.png" alt="Examker Logo"></a> 
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/exammain">Devoirs</a></li>
            <li><a href="/Tutoriels">Tutoriels</a></li>
            <li><a href="/Contact">Contact</a></li>
            <li><a href="/Apropos">A Propos</a></li> 
        </ul>
        <div class="payment">
            <a href="/payment"><button >Recharger points</button></a> 
        </div>
    </div>    



    <div class="container">
        <div class="firstROw">
            

            <div class="single-card">
                <div class="wrapper">
                    <h3>Débutant</h3>
                    <div class="points">
                        5<img src="assets/gemmes.png" alt="">
                        <h1>Points</h1>
                    </div>
                    
                    <a href="https://api.preprod.konnect.network/-pqUVOB30">
                        <h2>Acheter 5 Points</h2>
                        <h1>Pour 5 TND</h1>
                    </a>
                </div>
            </div>

            <div class="single-card">
                <div class="wrapper">
                    <h3>Amateur</h3>
                    <div class="points">
                        10 <img src="assets/gemmes.png" alt="">
                        <h1>Points</h1>
                    </div>
                    
                    <a href="https://api.preprod.konnect.network/L86vxtSkK">
                        <h2>Acheter 10 Points</h2>
                        <h1>Pour 10 TND</h1>
                    </a>
                </div>
            </div>



            <div class="single-card">
                <div class="wrapper">
                    <h3>Avancé</h3>
                    <div class="points">
                        25 <img src="assets/gemmes.png" alt="">
                        <h1>Points</h1>
                    </div>
                    
                    <a href="https://api.preprod.konnect.network/uzyTjjvnJ">
                        <h2>Acheter 25 Points</h2>
                        <h1>Pour 25 TND</h1>
                    </a>
                </div>
            </div>
            <div class="single-card">
                <div class="wrapper">
                    <h3>Expert</h3>
                    <div class="points">
                        50 <img src="assets/gemmes.png" alt="">
                        <h1>Points</h1>
                    </div>
                    
                    <a href="https://api.preprod.konnect.network/l6qUa1UL3">
                        <h2>Acheter 50 Points</h2>
                        <h1>Pour 50 TND</h1>
                    </a>
                </div>
            </div>


           


        </div>

    </div>

       
    
   
</body>
<script src="script.js"></script>

</html>